<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.read.ReadRoleMapper">
	<!-- 返回的map -->
	<resultMap id="role" type="com.code.domain.Role">
		<result property="ID" column="Role_ID" />
		<result property="CreateTime" column="Role_CreateTime" />
		<result property="ModifyTime" column="Role_ModifyTime" />
		<result property="Status" column="Role_Status" />
		<result property="Name" column="Role_Name" />
		<result property="AdminID" column="Role_AdminID" />
	</resultMap>
	<!-- sql查询语句-->
	<sql id="sql">
		Role_ID,Role_CreateTime,Role_ModifyTime,Role_Status,Role_Name,Role_AdminID
	</sql>
	<!-- sql查询条件-->
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and Role_ID = #{ID}
</if>
<if test="CreateTime!=null">
				 and Role_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and Role_ModifyTime = #{ModifyTime}
</if>
<if test="Status!=null">
				 and Role_Status = #{Status}
</if>
<if test="Name!=null">
				 and Role_Name = #{Name}
</if>
<if test="AdminID!=null">
				 and Role_AdminID = #{AdminID}
</if>

	</sql>
	<!-- 根据ID 查找-->
	<select id="findById" resultMap="role" parameterType="long">
		SELECT
		<include refid="sql"></include>
		FROM t_Role
		<where>
			Role_ID = #{_parameter} 
		</where>
	</select>
	<!-- 根据条件 查找-->
	<select id="query"  resultMap="role"
		parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM t_Role
		<where>
			<include refid="where"></include>
		</where>
	
	</select>
	<!-- 根据条件总数-->
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT
			Count(1)
			FROM t_Role
			<where>
				<include refid="where"></include>
			</where>
	</select>



</mapper>
