<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.read.ReadUserMapper">
	<!-- 返回的map -->
	<resultMap id="user" type="com.code.domain.User">
		<result property="ID" column="User_ID" />
		<result property="CreateTime" column="User_CreateTime" />
		<result property="ModifyTime" column="User_ModifyTime" />
		<result property="Status" column="User_Status" />
		<result property="LoginName" column="User_LoginName" />
		<result property="PassWord" column="User_PassWord" />
		<result property="HeadImg" column="User_HeadImg" />
		<result property="Name" column="User_Name" />
		<result property="NikeName" column="User_NikeName" />
		<result property="Signature" column="User_Signature" />
		<result property="Sex" column="User_Sex" />
		<result property="Age" column="User_Age" />
		<result property="Phone" column="User_Phone" />
		<result property="UnionID" column="User_UnionID" />
		<result property="OpenID" column="User_OpenID" />
		<result property="Email" column="User_Email" />
		<result property="ProvinceID" column="User_ProvinceID" />
		<result property="AreaID" column="User_AreaID" />
		<result property="CityID" column="User_CityID" />
		<result property="LongAddress" column="User_LongAddress" />
		<result property="Address" column="User_Address" />
	</resultMap>
	<!-- sql查询语句-->
	<sql id="sql">
		User_ID,User_CreateTime,User_ModifyTime,User_Status,User_LoginName,User_PassWord,User_HeadImg,User_Name,User_NikeName,User_Signature,User_Sex,User_Age,User_Phone,User_UnionID,User_OpenID,User_Email,User_ProvinceID,User_AreaID,User_CityID,User_LongAddress,User_Address
	</sql>
	<!-- sql查询条件-->
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and User_ID = #{ID}
</if>
<if test="CreateTime!=null">
				 and User_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and User_ModifyTime = #{ModifyTime}
</if>
<if test="Status!=null">
				 and User_Status = #{Status}
</if>
<if test="LoginName!=null">
				 and User_LoginName = #{LoginName}
</if>
<if test="PassWord!=null">
				 and User_PassWord = #{PassWord}
</if>
<if test="HeadImg!=null">
				 and User_HeadImg = #{HeadImg}
</if>
<if test="Name!=null">
				 and User_Name = #{Name}
</if>
<if test="NikeName!=null">
				 and User_NikeName = #{NikeName}
</if>
<if test="Signature!=null">
				 and User_Signature = #{Signature}
</if>
<if test="Sex!=null">
				 and User_Sex = #{Sex}
</if>
<if test="Age!=null">
				 and User_Age = #{Age}
</if>
<if test="Phone!=null">
				 and User_Phone = #{Phone}
</if>
<if test="UnionID!=null">
				 and User_UnionID = #{UnionID}
</if>
<if test="OpenID!=null">
				 and User_OpenID = #{OpenID}
</if>
<if test="Email!=null">
				 and User_Email = #{Email}
</if>
<if test="ProvinceID!=null">
				 and User_ProvinceID = #{ProvinceID}
</if>
<if test="AreaID!=null">
				 and User_AreaID = #{AreaID}
</if>
<if test="CityID!=null">
				 and User_CityID = #{CityID}
</if>
<if test="LongAddress!=null">
				 and User_LongAddress = #{LongAddress}
</if>
<if test="Address!=null">
				 and User_Address = #{Address}
</if>

	</sql>
	<!-- 根据ID 查找-->
	<select id="findById" resultMap="user" parameterType="long">
		SELECT
		<include refid="sql"></include>
		FROM t_User
		<where>
			User_ID = #{_parameter} 
		</where>
	</select>
	<!-- 根据条件 查找-->
	<select id="query"  resultMap="user"
		parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM t_User
		<where>
			<include refid="where"></include>
		</where>
	
	</select>
	<!-- 根据条件总数-->
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT
			Count(1)
			FROM t_User
			<where>
				<include refid="where"></include>
			</where>
	</select>



</mapper>
