<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.read.ReadActivityMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->

	<!-- search result -->
	<resultMap id="activity" type="com.code.domain.Activity">
		<result property="ID" column="Activity_ID" />
		<result property="Title" column="Activity_Title" />
		<result property="Content" column="Activity_Content" />
		<result property="ImageID" column="Activity_ImageID" />
		<result property="CreateTime" column="Activity_CreateTime" />
		<result property="ModifyTime" column="Activity_ModifyTime" />
		<result property="Status" column="Activity_Status" />
		<result property="Hot" column="Activity_Hot" />
		<result property="Weight" column="Activity_Weight" />
		<result property="WeChatID" column="Activity_WeChatID" />
		<result property="Praise" column="Activity_Praise" />
		<result property="EndTime" column="Activity_EndTime" />
		<result property="Sponsor" column="Activity_Sponsor" />
		<result property="SBrief" column="Activity_SBrief" />
		<result property="SImage" column="Activity_SImage" />
		<result property="ApplyCount" column="Activity_ApplyCount" />
		<result property="ApplyLimit" column="Activity_ApplyLimit" />
		<result property="ApplyMoney" column="Activity_ApplyMoney" />
		<result property="PayType" column="Activity_PayType" />
	</resultMap>


	<sql id="sql">
		Activity_ID,Activity_Title,Activity_Content,Activity_ImageID,Activity_CreateTime,Activity_ModifyTime,Activity_Status,Activity_Hot,Activity_Weight,Activity_WeChatID,Activity_Praise,Activity_EndTime,Activity_Sponsor,Activity_SBrief,Activity_SImage,Activity_ApplyCount,Activity_ApplyLimit,Activity_ApplyMoney,Activity_PayType
	</sql>
	<sql id="where">
		1=1
		<if test="ID!=null">
			and Activity_ID = #{ID}
		</if>
		<if test="Title!=null">
			and Activity_Title = #{Title}
		</if>
		<if test="Content!=null">
			and Activity_Content = #{Content}
		</if>
		<if test="ImageID!=null">
			and Activity_ImageID = #{ImageID}
		</if>
		<if test="CreateTime!=null">
			and Activity_CreateTime = #{CreateTime}
		</if>
		<if test="ModifyTime!=null">
			and Activity_ModifyTime = #{ModifyTime}
		</if>
		<if test="Status!=null">
			and Activity_Status = #{Status}
		</if>
		<if test="Hot!=null">
			and Activity_Hot = #{Hot}
		</if>
		<if test="Weight!=null">
			and Activity_Weight = #{Weight}
		</if>
		<if test="WeChatID!=null">
			and Activity_WeChatID = #{WeChatID}
		</if>
		<if test="Praise!=null">
			and Activity_Praise = #{Praise}
		</if>
		<if test="EndTime!=null">
			and Activity_EndTime = #{EndTime}
		</if>
		<if test="Sponsor!=null">
			and Activity_Sponsor = #{Sponsor}
		</if>
		<if test="SBrief!=null">
			and Activity_SBrief = #{SBrief}
		</if>
		<if test="SImage!=null">
			and Activity_SImage = #{SImage}
		</if>
		<if test="ApplyCount!=null">
			and Activity_ApplyCount = #{ApplyCount}
		</if>
		<if test="ApplyLimit!=null">
			and Activity_ApplyLimit = #{ApplyLimit}
		</if>
		<if test="ApplyMoney!=null">
			and Activity_ApplyMoney = #{ApplyMoney}
		</if>
		<if test="PayType!=null">
			and Activity_PayType = #{PayType}
		</if>

	</sql>


	<select id="findById" resultMap="activity" parameterType="long">
		SELECT
		<include refid="sql"></include>
		FROM t_Activity
		<where>
			Activity_ID = #{_parameter}
		</where>
	</select>

	<select id="query"  resultMap="activity"
			parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM t_Activity
		<where>
			<include refid="where"></include>
		</where>

	</select>

	<select id="queryCount" parameterType="map" resultType="int">
		SELECT
		Count(1)
		FROM t_Activity
		<where>
			<include refid="where"></include>
		</where>
	</select>



</mapper>
