<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.read.ReadOnlineMapper">
	<!-- 返回的map -->
	<resultMap id="online" type="com.code.domain.Online">
		<result property="ID" column="OnLine_ID" />
		<result property="UserID" column="OnLine_UserID" />
		<result property="Session" column="OnLine_Session" />
		<result property="CreateTime" column="OnLine_CreateTime" />
		<result property="ModifyTime" column="OnLine_ModifyTime" />
		<result property="Version" column="OnLine_Version" />
		<result property="Status" column="OnLine_Status" />
		<result property="Type" column="OnLine_Type" />
	</resultMap>
	<!-- sql查询语句-->
	<sql id="sql">
		OnLine_ID,OnLine_UserID,OnLine_Session,OnLine_CreateTime,OnLine_ModifyTime,OnLine_Version,OnLine_Status,OnLine_Type
	</sql>
	<!-- sql查询条件-->
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and OnLine_ID = #{ID}
</if>
<if test="UserID!=null">
				 and OnLine_UserID = #{UserID}
</if>
<if test="Session!=null">
				 and OnLine_Session = #{Session}
</if>
<if test="CreateTime!=null">
				 and OnLine_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and OnLine_ModifyTime = #{ModifyTime}
</if>
<if test="Version!=null">
				 and OnLine_Version = #{Version}
</if>
<if test="Status!=null">
				 and OnLine_Status = #{Status}
</if>
<if test="Type!=null">
				 and OnLine_Type = #{Type}
</if>

	</sql>
	<!-- 根据ID 查找-->
	<select id="findById" resultMap="online" parameterType="long">
		SELECT
		<include refid="sql"></include>
		FROM t_OnLine
		<where>
			OnLine_ID = #{_parameter} 
		</where>
	</select>
	<!-- 根据条件 查找-->
	<select id="query"  resultMap="online"
		parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM t_OnLine
		<where>
			<include refid="where"></include>
		</where>
	
	</select>
	<!-- 根据条件总数-->
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT
			Count(1)
			FROM t_OnLine
			<where>
				<include refid="where"></include>
			</where>
	</select>



</mapper>
