<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代码生成工具- majian</title>
    <meta name="keywords" content="马健">
    <meta name="description" content="马健">
    <script src="js/web/include.js?v=1.0.5"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="app">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-horizontal">

                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >title</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.title" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >content</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.content" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >imageID</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.imageID" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >status</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.status" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >hot</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.hot" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >weight</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.weight" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >weChatID</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.weChatID" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >praise</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.praise" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >sponsor</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.sponsor" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >sBrief</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.sBrief" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >sImage</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.sImage" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >applyCount</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.applyCount" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >applyLimit</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.applyLimit" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >applyMoney</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.applyMoney" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >payType</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.payType" class="form-control">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" @click="save" type="submit">保存内容</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload=function () {
        var app = new Vue({
            el: "#app",
            data: {
                data:{
                    iD:getUrlKey("id"),
                    title:0,
                    content:0,
                    imageID:0,
                    status:0,
                    hot:0,
                    weight:0,
                    weChatID:0,
                    praise:0,
                    sponsor:0,
                    sBrief:0,
                    sImage:0,
                    applyCount:0,
                    applyLimit:0,
                    applyMoney:0,
                    payType:0,
                }
            },
            methods: {
                save: function () {
                    savaData(this,"../Activity/modifyActivity")
                }
            },
            mounted: function () {
                if(this.data.iD!=0){
                    findByID(this,this.data.iD,"../Activity/findActivity/")
                }
            }
        })
    }
</script>
</body>
</html>
