<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代码生成工具- majian</title>
    <meta name="keywords" content="马健">
    <meta name="description" content="马健">
    <script src="js/web/include.js?v=1.0.5"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="app">
    <!-- loading 固定格式不要删除-->
    <div id="overlay" style="background:#000;filter:alpha(opacity=50);opacity:0.5;display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:100;display:none;"><div class="sk-spinner sk-spinner-double-bounce" style="margin-top: 300px;"><div class="sk-double-bounce1"></div> <div class="sk-double-bounce2"></div></div></div>
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" v-text="name"></label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.name" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" v-text="loginName"></label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.loginName" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" v-text="headImg">头像</label>
                                <div class="col-sm-10">
                                    <div class="input-group col-sm-12">
                                        <input type="text" v-model="data.headImg" class="form-control">
                                        <span class="input-group-btn"> <button type="button" class="btn btn-primary" @click="addImage">选择图片 </button></span>
                                    </div>
                                    <img :src="data.headImg" style="width: 150px;height: 150px;">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" v-text="phone">手机号</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="data.phone" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择地区</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" v-model="data.provinceID" @change="getCity" id="provinceID">
                                            <option value="0">请选择省份</option>
                                            <option v-for="item in ProvinceList" :value="item.iD" v-text="item.name"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" v-model="data.cityID" @change="getArea" id="cityID">
                                            <option value="0">请选择市</option>
                                            <option v-for="item in CityList" :value="item.iD" v-text="item.name"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" v-model="data.areaID" id="areaID">
                                            <option value="0">请选择区</option>
                                            <option v-for="item in AreaList" :value="item.iD" v-text="item.name"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" v-model="data.address" class="form-control" placeholder="请输入详细地址">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed" v-if="f==0"></div>
                            <div class="form-group" v-if="f==0">
                                <label class="col-sm-2 control-label">角色分配</label>
                                <div class="col-sm-10">
                                    <select class="form-control m-b" v-model="data.roleID" >
                                        <option value="0">请选择角色</option>
                                        <option v-for="item in RoleList" :value="item.iD" v-text="item.name"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" @click="save" type="submit">保存内容</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tempApp=this;
    window.onload = function () {
        var app = new Vue({
            el: "#app",
            data: {
                ProvinceList:[],
                CityList:[],
                AreaList:[],
                RoleList:[],
                f:getUrlKey("f")==null?0:getUrlKey("f"),
                data: {
                    iD: getUrlKey("id"),
                    name: "",
                    headImg: "",
                    loginName: "",
                    phone: "",
                    provinceID: 0,
                    areaID: 0,
                    cityID: 0,
                    longAddress: "",
                    address: "",
                    roleID:"",
                },
                name:"用户名",
                loginName:"登录名",
                headImg:"头像",
                phone:"手机号"
            },
            methods: {
                //编辑里面的
                getProvince:function(f){
                    this.getRegion(1,1,f)
                },
                getCity:function(f){
                    this.getRegion(2,this.data.provinceID,f)
                },
                getArea:function(f){
                    this.getRegion(3,this.data.cityID,f)
                },
                getRegion:function(type,ParentID,f){
                    getRegionHeadWithEdit(this,type,ParentID,f);
                },
                getRoleList:function(){
                    var that=this;
                    $.ajax({url:"../Role/queryRolePageAll",headers: {Token: getToken()},success:function(json){
                        console.log(json);
                        if(json.code==0){
                            that.RoleList=json.data;
                        }else{
                            error(json.message);
                        }
                    }})
                },
                save: function () {
                    if(validate()){return};
                    this.data.longAddress=$('#provinceID option:selected').text()+$('#cityID option:selected').text()+$('#areaID option:selected').text()+this.data.address;
                    savaData(this, "../Admin/modifyAdmin")
                },
                addImage:function(){
                    var url = "../Admin/addPicture.html?type=1&url=" +  this.data.headImg;
                    modifyShow(this,url,"1000px","420px","选择图片");
                }
            },
            mounted: function () {
                tempApp=this;
                var that=this;
                if (this.data.iD != 0) {
                    $("#overlay").show()
                    $.ajax({
                        url: "../Admin/findAdmin/"+this.data.iD,
                        headers: {Token: getToken()},

                        success: function (json) {
                            $("#overlay").hide()
                            console.log("获取查找数据",json)
                            if (json.code == 1) {
                                top.location.href="../Admin/login.html"
                            }
                            if (json.code == 0) {
                                tempApp.data=json.data;
                                that.getProvince(1);
                            } else {
                                error(json.message);
                            }
                        },
                        error: function () {
                            $("#overlay").hide();
                            error("网络异常哦,请稍后重试");
                        }
                    })
                }else{
                    this.getProvince(0);
                }
                bindImgError()
                this.getRoleList();

            }
        })
    }
    function saveImage(type,url){
        closes("上传成功");
        tempApp.data.headImg=url;
    }
    function validate(){
        var message="不允许为空。"
        if(!chechIsUnll(tempApp.data.name)){
            error(tempApp.name+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.loginName)){
            error(tempApp.loginName+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.headImg)){
            error(tempApp.headImg+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.phone)){
            error(tempApp.phone+message);
            return true;
        }
        return false;
    }
</script>
</body>
</html>
