<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代码生成工具- majian</title>
    <meta name="keywords" content="马健">
    <meta name="description" content="马健">
    <script src="js/web/include.js?v=1.0.5"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="app">
	<!-- loading 固定格式不要删除-->
	<div id="overlay" style="background:#000;filter:alpha(opacity=50);opacity:0.5;display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:100;display:none;"><div class="sk-spinner sk-spinner-double-bounce" style="margin-top: 300px;"><div class="sk-double-bounce1"></div> <div class="sk-double-bounce2"></div></div></div>
	<!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-horizontal">

														    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >status</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.status" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >loginName</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.loginName" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >passWord</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.passWord" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >headImg</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.headImg" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >name</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.name" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >nikeName</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.nikeName" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >signature</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.signature" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >sex</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.sex" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >age</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.age" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >phone</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.phone" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >unionID</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.unionID" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >openID</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.openID" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >email</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.email" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >provinceID</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.provinceID" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >areaID</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.areaID" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >cityID</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.cityID" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >longAddress</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.longAddress" class="form-control">
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" >address</label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.address" class="form-control">
	                            </div>
                            </div>
                          
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" @click="save" type="submit">保存内容</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload=function () {
        var app = new Vue({
            el: "#app",
            data: {
                data:{
                    iD:getUrlKey("id"),
                    	status:0,
                    	loginName:0,
                    	passWord:0,
                    	headImg:0,
                    	name:0,
                    	nikeName:0,
                    	signature:0,
                    	sex:0,
                    	age:0,
                    	phone:0,
                    	unionID:0,
                    	openID:0,
                    	email:0,
                    	provinceID:0,
                    	areaID:0,
                    	cityID:0,
                    	longAddress:0,
                    	address:0,
                }
            },
            methods: {
                save: function () {
                    savaData(this,"../User/modifyUser")
                }
            },
            mounted: function () {
                if(this.data.iD!=0){
                    findByID(this,this.data.iD,"../User/findUser/")
                }
                bindImgError()
            }
        })
    }
</script>
</body>
</html>
