<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>杭州xxx有限公司- 登录</title>
    <script src="js/web/include.js?v=1.0.6"></script>
       <style>
           #overlay {
               background: #000;
               filter: alpha(opacity=50); /* IE的透明度 */
               opacity: 0.5;  /* 透明度 */
               display: none;
               position: absolute;
               top: 0px;
               left: 0px;
               width: 100%;
               height: 100%;
               z-index: 100; /* 此处的图层要大于页面 */
               display:none;
           }
       </style>


</head>

<body class="gray-bg">

    <div id="app" class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">C+</h1>
            </div>
            <h3>code</h3>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="username" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="password" placeholder="密码" required="">
                </div>
                <button @click="login" class="btn btn-primary block full-width m-b">登 录</button>
                <div class="pull-center" v-html="foot"></div>
        </div>
    </div>

    <div id="overlay"><div class="sk-spinner sk-spinner-double-bounce" style="margin-top: 300px;"><div class="sk-double-bounce1"></div> <div class="sk-double-bounce2"></div></div></div>
    <script>
        var tempApp="";//一定要写这个 ,约定
        window.onload=function () {
            var app = new Vue({
                el: "#app",
                data: {
                    username: "",
                    password: "",
                    foot: getFootInfo(),
                },
                methods: {
                    login: function () {
                        login(this);
                    }
                }
            })
        }
    </script>
    <script>
        function login(that){
            if(that._data.username=="" || that._data.password==""){
                error("用户名和密码为空");
            }else{
                $("#overlay").show()
                var data={
                    loginName:that._data.username,
                    passWord:hex_md5(that._data.password).toLocaleUpperCase()
                }
                $.ajax({
                    url:"../Admin/loginName",
                    type:"POST",
                    data:{data:JSON.stringify(data)},
                    success:function (json) {
                        $("#overlay").hide()
                        if(json.code==0){
                            sessionStorage.setItem('Login',1);
                            sessionStorage.setItem('User',JSON.stringify(json.data));
                            sessionStorage.setItem('Token',json.token);
                            location.href="../Admin/index.html";
                        }else{
                             error(json.message);
                        }
                    },
                    error: function(){ $("#overlay").hide(); error("网络异常哦,请稍后重试");}
                })
            }
        }


    </script>

</body>

</html>
