<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代码生成工具- majian</title>
    <meta name="keywords" content="马健">
    <meta name="description" content="马健">
    <script src="js/web/include.js?v=1.0.5"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="app">
    <!-- loading 固定格式不要删除-->
    <div id="overlay" style="background:#000;filter:alpha(opacity=50);opacity:0.5;display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:100;display:none;"><div class="sk-spinner sk-spinner-double-bounce" style="margin-top: 300px;"><div class="sk-double-bounce1"></div> <div class="sk-double-bounce2"></div></div></div>
    <!-- Panel Other -->
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!--查询面板开始 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseTwo" class="" aria-expanded="true">
                                    点击 选择查询条件
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <!-- 行政规划开始 -->
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" v-model="ProvinceID" @change="getCity">
                                            <option value="0">请选择省份</option>
                                            <option v-for="item in ProvinceList" :value="item.iD" v-text="item.name"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" v-model="CityID" @change="getArea" >
                                            <option value="0">请选择市</option>
                                            <option v-for="item in CityList" :value="item.iD" v-text="item.name"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" v-model="AreaID" @change="getRefresh" >
                                            <option value="0">请选择区</option>
                                            <option v-for="item in AreaList" :value="item.iD" v-text="item.name"></option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 行政规划结束 -->
                            </div>
                        </div>
                    </div>
                    <!--查询面板结束 -->
                    <div class="example-wrap">
                        <h4 class="example-title"></h4>
                        <div class="example">
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <!--<button type="button"   @click="modify(0)" class="btn btn-primary ">-->
                                    <!--<i class="glyphicon glyphicon-plus" aria-hidden="true">新增</i>-->
                                <!--</button>-->
                                <!--<button type="button"  @click="modify(1)" class="btn btn-success ">-->
                                    <!--<i class="glyphicon glyphicon-pencil" aria-hidden="true">修改</i>-->
                                <!--</button>-->
                                <button type="button" @click="recover(88)" class="btn  btn-danger">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true">删除</i>
                                </button>
                                <button type="button"  @click="recover(1)" class="btn btn-primary ">
                                    <i class="glyphicon glyphicon-play" aria-hidden="true">恢复</i>
                                </button>
                                <button type="button"  @click="crime" class="btn btn-success ">
                                    <i class="glyphicon glyphicon-warning-sign" aria-hidden="true">违规处理</i>
                                </button>
                                <button type="button"  @click="operation" class="btn btn-info ">
                                    <i class="fa fa-hand-o-up" aria-hidden="true">操作日志</i>
                                </button>
                            </div>
                            <table id="exampleTableEvents" >
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
</div>
<script>
    var tempApp="";//一定要写这个 ,约定
    window.onload=function () {
        /**初始化VUE */
        var app = new Vue({
            el: "#app",
            data: {
                status: -1,
                index:0,
                sex:-1,
                ProvinceID:0,
                CityID:0,
                AreaID:0,
                ProvinceList:[],
                CityList:[],
                AreaList:[]
            },
            methods: {
                //** 行政规划开始
                getProvince:function(){
                    this.getRegion(1,1)
                },
                getCity:function(){
                    this.getRegion(2,this.ProvinceID)
                },
                getArea:function(){
                    this.getRegion(3,this.CityID)
                },
                getRefresh:function(){
                    tableRefresh();
                },
                getRegion:function(type,ParentID){
                    getRegionHead(this,type,ParentID);
                },
                //** 行政规划结束
                recover: function (val) {
                    setStatus(this,val)
                },
                crime:function(){
                    if(checkIsSelection()){return};
                    var id=getRecordIDForFastJson($('#exampleTableEvents'));
                    var url = "../Admin/addCrime.html?srcType=1&userID="+id+"&srcID="+id;
                    modifyShow(this,url,"800px","480px","违规处理");
                },
                modify: function (flag) {
                    var url = "../Admin/addUser.html?";
                    if(flag==0){//新增
                        url+= "id=0";
                    }else{//修改
                        if(checkIsSelection()){return};
                        url+= "id="+getRecordIDForFastJson($('#exampleTableEvents'));
                    }
                    modifyShow(this,url,"100%","100%","User");
                },
                operation:function(){
                    if(checkIsSelection()){return};
                    var url = "../Admin/OperationList.html?";
                    url+= "id="+getRecordIDForFastJson($('#exampleTableEvents'));
                    modifyShow(this,url,"100%","100%","用户操作日志");
                }
            },
            mounted: function () {
                bindImgError()
                tempApp=this;
                this.getProvince();
            }

        })
        /** 固定写法 by majian*/
        function setStatus(that,status) {
            setAdminStatus(that,status,"../User/setUserStatus")
        }
        /** 初始化表格*/
        (function(document, window, $) {
            'use strict';
            (function() {
                var columns=[
                    {
                        field: 'state',
                        checkbox:true
                    },
                    {
                        title: '编号',
                        align: 'center',
                        field: 'iD',
                    },
                    {
                        title: '头像',
                        align: 'center',
                        field: 'headImg',
                        formatter:headImgFormatter
                    },
                    {
                        title: '用户名',
                        align: 'center',
                        field: 'name',
                    },
                    {
                        title: '手机号',
                        align: 'center',
                        field: 'phone',
                    },
                    {
                        title: getSex(),
                        align: 'center',
                        field: 'sex',
                        formatter:function(val){
                            if(val==0 ) {
                                return '<small class="label label-warning">保密</small>'
                            }else if(val==1){
                                return '<small class="label label-primary"> 男</small>'
                            }else{
                                return '<small class="label label-success"> 女</small>'
                            }
                        }
                    },
                    {
                        title: '邮箱',
                        align: 'center',
                        field: 'email',
                    },
                    {
                        title: '地址',
                        align: 'center',
                        field: 'longAddress',
                    },
                    {
                        title: '创建时间',
                        align: 'center',
                        field: 'createTime',
                    },
                    {
                        title: getStatus(),
                        align: 'center',
                        field: 'status',
                        titleTooltip : "",
                        formatter: statusFormatter
                    },
                ];
                getDataTable($('#exampleTableEvents'),"../User/queryUserPage",columns,queryParams,false);
            })();
            function queryParams(params) {
                var temp={}
                temp.pageSize=params.limit;
                temp.pageNumber=params.offset/params.limit+1;
                temp.search=params.search;
                temp.status=app.status;
                temp.sex=app.sex;
                temp.ProvinceID=app.ProvinceID;
                temp.CityID=app.CityID;
                temp.AreaID=app.AreaID;
                return temp;
            }

        })(document, window, jQuery);
    }
    function getSex(){
        var  html='<div class="dropdown profile-element">' +
                '<a data-toggle="dropdown" class="dropdown-toggle" href="#">' +
                '<span class="text-muted text-xs block">保密<b class="caret"></b></span>' +
                ' </span>' +
                '</a>' +
                '<ul class="dropdown-menu  m-t-xs">' +
                '<li><a class="J_menuItem" onclick="changSex(0)">保密</a>' +
                ' </li>' +
                ' <li><a class="J_menuItem" onclick="changSex(1)">男</a>' +
                '</li>' +
                ' <li><a class="J_menuItem" onclick="changSex(2)">女</a>' +
                '</li>' +
                '<li class="divider"></li>' +
                '<li><a  class="J_menuItem" onclick="changSex(-1)">全部</a>' +
                '</li>' +
                ' </ul>' +
                '</div>'
        return html;
    }
    function changSex(val){
        tempApp.sex=val;
        tableRefresh();
    }
</script>
</body>
</html>