<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.code.dao.write.BoxMapper">
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />-->
    <resultMap type="com.code.domain.Box" id="ClassResultMap">
        <result property="id" column="box_id" />
        <result property="userid" column="box_userid"/>
        <result property="num" column="box_num"/>
        <result property="place" column="box_place"/>
        <result property="money" column="box_money"/>
        <result property="status" column="box_status"/>
        <result property="createTime" column="box_createTime"/>
        <result property="modifyTime" column="box_modifyTime"/>
        <result property="type" column="box_type"/>
        <result property="data" column="box_data"/>

        <!--<association property="user" column="box_userid" select="com.code.dao.UserMapper.find" fetchType="eager"/>-->
        <!--<association property="allCount" column="box_id" select="com.code.dao.RecordMapper.allCount" fetchType="eager"/>-->
        <!--<association property="arawCount" column="{boxid=box_id,num=box_place}" select="com.code.dao.RecordMapper.arawCount" fetchType="eager"/>-->

    </resultMap>
    <!-- 数据库字段 -->
    <sql id="sql">
        box_id,
        box_userid,
        box_num,
        box_place,
        box_money,
        box_status,
        box_createTime,
        box_modifyTime,
        box_type,
        box_data
    </sql>
    <sql id="insertSql">
        #{id},
        #{userid},
        #{num},
        #{place},
        #{money},
        #{status},
        now(),
        now(),
        #{type},
        #{data}
    </sql>
    <sql id="updateSql">
        box_userid=#{userid},
        box_num=#{num},
        box_place=#{place},
        box_money=#{money},
        box_status=#{status},
        box_modifyTime=now(),
        box_type=#{type},
        box_data=#{data}
    </sql>
    <sql id="updateWhere">
        box_id=#{id}
    </sql>
    <!-- 查询条件 -->
    <sql id="where">
        1=1
        <if test="id != null">
            and box_id = #{id}
        </if>
        <if test="userid != null">
            and box_userid = #{userid}
        </if>
        <if test="num != null">
            and box_num = #{num}
        </if>
        <if test="type != null">
            and box_type = #{type}
        </if>
        <if test="place != null">
            and box_place = #{place}
        </if>
        <if test="status == null">
            and box_status = 1
        </if>
        <if test="status != null">
            and box_status = #{status}
        </if>

    </sql>
    <!--表名字 -->
    <sql id="table">
        t_box
    </sql>

    <!--查询全部信息 -->
    <select id="query"  resultMap="ClassResultMap" parameterType="map">
        select <include refid="sql"/>
        from <include refid="table"/>
        <where>
            <include refid="where"/>
        </where>
        ORDER BY box_createTime DESC
    </select>

    <!-- 查找单个 -->
    <select id="findByID"  resultMap="ClassResultMap" parameterType="long" >
        select <include refid="sql"/>
        from <include refid="table"/>
        where
        <if test="_parameter != null" >
            box_id = #{_parameter}
        </if>

    </select>



    <!-- 插入的代码 -->
    <insert id="insert"  parameterType="com.code.domain.Box">
        insert <include refid="table"/>(<include refid="sql"/>) VALUES (<include refid="insertSql" />)
    </insert>

    <update id="update" parameterType="com.code.domain.Box">
        update <include refid="table"/> set <include refid="updateSql"/> where <include refid="updateWhere"/>
    </update>


</mapper>